.App {
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    flex-direction: column;
    padding-top: 30px;
  }

  .content {
    background-color: rgb(245, 248, 250);
    display: flow-root;
    flex-direction: column;
    flex: 1;
  }
  .Contentwrap {
    width: 100%;
    margin:center;
    border: 1px white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
