.App {
    text-align: center;
    display: inline-flexbox;
    justify-content: space-between;
    height: 80vh;
    flex-direction: column;
    padding-top: 0px;
  }

  .content {
    background-color: rgb(245, 248, 250);
    display: table-row;
    flex-direction: column;
    flex: 1;
  }

.boxwrap {
    width: 100%;
    border: 1px blue;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
  }

  